{% extends 'base.html'%}

{% block content%}
<div class="container" style="height:85vh;display:flex;flex-direction:column;justify-content:center;">
<div class="card text-center col-lg-12 col-sm-12 mx-auto my-auto">
  <div class="card-header">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="caeser-tab" data-bs-toggle="tab" data-bs-target="#caeser" type="button" role="tab" aria-controls="caeser" aria-selected="true">Caesar</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="multiplicative-tab" data-bs-toggle="tab" data-bs-target="#multiplicative" type="button" role="tab" aria-controls="multiplicative" aria-selected="false">Multiplicative</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="affine-tab" data-bs-toggle="tab" data-bs-target="#affine" type="button" role="tab" aria-controls="affine" aria-selected="false">Affine</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="autokey-tab" data-bs-toggle="tab" data-bs-target="#autokey" type="button" role="tab" aria-controls="autokey" aria-selected="false">Autokey</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="playfair-tab" data-bs-toggle="tab" data-bs-target="#playfair" type="button" role="tab" aria-controls="playfair" aria-selected="false">Play Fair</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="vigenere-tab" data-bs-toggle="tab" data-bs-target="#vigenere" type="button" role="tab" aria-controls="vigenere" aria-selected="false">Vigenere</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="keylesstrans-tab" data-bs-toggle="tab" data-bs-target="#keylesstrans" type="button" role="tab" aria-controls="keylesstrans" aria-selected="false">Keyless Transposition</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="coltrans-tab" data-bs-toggle="tab" data-bs-target="#coltrans" type="button" role="tab" aria-controls="coltrans" aria-selected="false">Columnar Transposition</button>
    </li>
  </ul>
</div>

<div class="card-body">
  <div class="tab-content" id="myTabContent">
    <!-- Caeser Cipher Form starts here -->
    <div class="tab-pane fade show active" id="caeser" role="tabpanel" aria-labelledby="caeser-tab">
        <form class="col-8 mx-auto" id="caeser-form">
          <h2>Caesar Cipher</h2>
            <input type="text" class="form-control m-3" placeholder="Enter Plain Text" id="caeser-plaintext" pattern="[a-z A-Z]+" required>
          <div class="input-group m-3">
            <input type="number" class="form-control" placeholder="Enter Numeric Key" aria-label="Plain Text" max="999" min="0" aria-describedby="encrypt" id="caeser-key" required>
            <button class="btn btn-outline-primary" type="submit" id="encrypt">Encrypt</button>
          </div>
        </form>

        <!-- <input type="text" value="Hello World" id="myInput"> -->
          <table class="col-8 m-3 mx-auto text-center" style="display:none" id="caeser-table">
            <tr>
              <td>Encrypted Text</td>
              <td><div id="caeser-output" class="form-control"></div></td>
              <td><button onclick="myFunction('caeser-output')" class="btn btn-secondary display-hidden">Copy to Clipboard</button></td>
            </tr>
          </table>
      </div>
    <!-- Multiplicative Cipher Form starts here -->
    <div class="tab-pane fade" id="multiplicative" role="tabpanel" aria-labelledby="multiplicative-tab">
      <form action="/test/" class="col-8 mx-auto">
        {{ csrf_token }}
        <h2>Multiplicative Cipher</h2>
          <input type="text" class="form-control m-3" aria-label="With textarea" placeholder="Enter Plain Text" name="plainText" pattern="[a-z A-Z]+" required>
        <div class="input-group m-3">
          <input type="number" class="form-control" placeholder="Enter Numeric Key" aria-label="Plain Text" max="999" min="0" aria-describedby="encrypt" name="key" required>
          <button class="btn btn-outline-primary" type="submit" id="encrypt">Encrypt</button>
        </div>
      </form>
    </div>      
    <!-- Affine Cipher Form starts here -->
    <div class="tab-pane fade" id="affine" role="tabpanel" aria-labelledby="affine-tab">
      <form action="/test/" class="col-8 mx-auto">
        {{ csrf_token }}
        <h2>Affine Cipher</h2>
          <input type="text" class="form-control m-3" aria-label="With textarea" placeholder="Enter Plain Text" name="plainText" pattern="[a-z A-Z]+" required>
          <div class="input-group m-3">
            <input type="number" class="form-control" placeholder="Enter Multiplication Key" aria-label="Plain Text" max="999" min="0" aria-describedby="encrypt" name="key1" required>
            <input type="number" class="form-control" placeholder="Enter Addition Key" aria-label="Plain Text" max="999" min="0" aria-describedby="encrypt" name="key2" required>
            <button class="btn btn-outline-primary" type="submit" id="encrypt">Encrypt</button>
          </div>
        </form>
      </div>
    <!-- Autokey Cipher Form starts here -->   
    <div class="tab-pane fade" id="autokey" role="tabpanel" aria-labelledby="autokey-tab">
    <form action="/test/" class="col-8 mx-auto">
      {{ csrf_token }}
      <h2>AutoKey Cipher</h2>
        <input type="text" class="form-control m-3" aria-label="With textarea" placeholder="Enter Plain Text" name="plainText" pattern="[a-z A-Z]+" required>
        <div class="input-group m-3">
          <input type="text" class="form-control" placeholder="Enter Numeric Key" aria-label="Plain Text" aria-describedby="encrypt" name="key" required>
          <button class="btn btn-outline-primary" type="submit" id="encrypt">Encrypt</button>
        </div>
      </form>
    </div>
    <!-- PlayFair Cipher Form starts here -->
    <div class="tab-pane fade" id="playfair" role="tabpanel" aria-labelledby="playfair-tab">
      <form action="/test/" class="col-8 mx-auto">
        {{ csrf_token }}
        <h2>PlayFair Cipher</h2>
          <input type="text" class="form-control m-3" aria-label="With textarea" placeholder="Enter Plain Text" name="plainText" pattern="[a-z A-Z]+" required>
          <div class="input-group m-3">
            <input type="text" class="form-control" placeholder="Enter Keyword" aria-label="Plain Text" aria-describedby="encrypt" pattern="[a-zA-Z]" name="key" required>
            <button class="btn btn-outline-primary" type="submit" id="encrypt">Encrypt</button>
          </div>
        </form>
      </div>
    <!-- Vigenere Cipher Form starts here -->
    <div class="tab-pane fade" id="vigenere" role="tabpanel" aria-labelledby="affine-tab">
      <form action="/test/" class="col-8 mx-auto">
        {{ csrf_token }}
        <h2>Vigenere Cipher</h2>
          <input type="text" class="form-control m-3" aria-label="With textarea" placeholder="Enter Plain Text" name="plainText" pattern="[a-z A-Z]+" required>
        <div class="input-group m-3">
          <input type="text" class="form-control" placeholder="Enter Keyword" aria-label="Plain Text" aria-describedby="encrypt" name="key"  pattern="[a-zA-Z]" required>
          <button class="btn btn-outline-primary" type="submit" id="encrypt">Encrypt</button>
        </div>
      </form>
    </div>
    <!-- Keyless Transposition Cipher Form starts here -->
    <div class="tab-pane fade" id="keylesstrans" role="tabpanel" aria-labelledby="keylesstrans-tab">
      <form action="/test/" class="col-8 mx-auto">
        {{ csrf_token }}
        <h2>Keyless Transposition Cipher</h2>
          <!-- -->
          <input type="text" class="form-control m-3"  placeholder="Enter Plain Text" aria-label="Plain Text" name="plainText" pattern="[a-z A-Z]+" required>
        <div class="input-group m-3">
          <input type="number" class="form-control" placeholder="Enter block size" name="key" max="10" min="0" required>
          <button class="btn btn-outline-primary" type="submit" id="encrypt">Encrypt</button>
        </div>
      </form>
    </div>
    <!-- Columnar Transposition Cipher Form starts here -->
    <div class="tab-pane fade" id="coltrans" role="tabpanel" aria-labelledby="coltrans-tab">
      <form action="/test/" class="col-8 mx-auto">
        {{ csrf_token }}
        <h2>Columnar Transposition Cipher</h2>
          <input type="text" class="form-control m-3" aria-label="With textarea" placeholder="Enter Plain Text" name="plainText" pattern="[a-z A-Z]+" required>
        <div class="input-group m-3">
          <input type="text" class="form-control" placeholder="Enter Columnar Key (Example : 54321)" aria-label="Plain Text" aria-describedby="encrypt" name="key" required>
          <button class="btn btn-outline-primary" type="submit" id="encrypt">Encrypt</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="card-footer text-center">
  <p class="text-danger"> * Please don't enter any special characters or numbers in plain text!</p>
</div>
</div>
{%endblock content%}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
  $('#caeser-form').on('submit', function(event) {
    $('#caeser-output').text("Encrypting your message...").show();
    $.ajax({
       data : {
          plaintext : $('#caeser-plaintext').val(),
          key: $('#caeser-key').val(),
              },
          type : 'POST',
          url : '/encrypt/caeser/'
         })
     .done(function(data) {
       console.log(data.cipher);
      $('#caeser-table').show();
       $('#caeser-output').text(data.cipher).show();
   });
   event.preventDefault();
   });
});



//Copy to clipboard script
function myFunction(value) {
  console.log(value);
    str = document.getElementById(value).innerHTML;
    const el = document.createElement('textarea');
    el.value = str;
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);
    alert('Copied the text : ' + el.value);
};
</script>
{% endblock scripts %}